@model List<ResultMenuTableDto>
@{
	ViewData["Title"] = "TableListByStatus";
	Layout = "~/Views/AdminLayout/Index.cshtml";
	string color = "";
	string status = "";

}

<div class="content">
	<div class="container-fluid">
		<script type="text/javascript">
			$(document).ready(() => {

				const connection = new signalR.HubConnectionBuilder()
					.withUrl("https://localhost:7239/WebHub")
					.build();

				connection.start().then(() => {
					$("#connstatus").text(connection.state);
					setInterval(() =>{
									   connection.invoke("GetTableStatus");
					},1000);
				}).catch((err) => {
					console.error(err);
				});

				connection.on("ReceiveTableStatus", (value) => {
					var color = "";
					var status = "";
					console.log(value);
					let tablehtml = `<div class="row">`;
					$.each(value, (index, item) => {
						if (item.status == true) {
							color="card card-stats card-success";
							status = "Masa Dolu";
						}
						else {
							color="card card-stats bg-dark";
							status = "Masa Boş";
						}
						tablehtml += `<div class="col-md-3">
											<div class="${color}">
												<div class="card-body ">
													<div class="row">
														<div class="col-7 d-flex align-items-center">
															<div class="numbers">
																<p class="card-category">${item.name}</p>
																<h4 class="card-title">${status}</h4>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>`
					});
					tablehtml += "</div>";
					$("#statuslist").html(tablehtml);
				});

			});
		</script>
		<h4>Anlık Masa Durumları</h4>
		<div id="statuslist"></div>

	</div>
</div>
