
@{
    Layout = null;
}
<!DOCTYPE html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>
<html>
@await Component.InvokeAsync("_LayoutHeaderPartialComponent")

<body>
	<div class="wrapper">
		@await Component.InvokeAsync("_LayoutNavbarComponentPartial")
		@await Component.InvokeAsync("_LayoutSidebarComponentPartial")

		<div class="main-panel">
			@RenderBody()
@* 			@await Component.InvokeAsync("_LayoutFooterComponentPartial")
 *@
		</div>
	</div>
	@await Component.InvokeAsync("_LayoutScriptComponentPartial")

</body>

</html>