
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="content">
	<div class="container-fluid">
		<script type="text/javascript">
			$(document).ready(() => {
				
				const connection = new signalR.HubConnectionBuilder()
					.withUrl("https://localhost:7239/WebHub")
					.build();

				connection.start().then(() => {
					$("#connstatus").text(connection.state);
					setInterval(() =>{
									   connection.invoke("SendStatistic");
					},1000);
				}).catch((err) => {
					console.error(err);
				});

				connection.on("ReceiveCategoryCount", (value) => {
					$("#categorycount").text(value);
				});
				connection.on("ReceiveProductCount", (value) => {
					$("#productcount").text(value);
				});
				connection.on("ReceiveActiveCategoryCount", (value) => {
					$("#activecategorycount").text(value);
				});
				connection.on("ReceivePassiveCategoryCount", (value) => {
					$("#passivecategorycount").text(value);
				});
				connection.on("ReceiveProductCountByHamburger", (value) => {
					$("#productcountbyhamburger").text(value);
				});
				connection.on("ReceiveProductCountByDrink", (value) => {
					$("#productcountbydrink").text(value);
				});
				connection.on("ReceiveProductPriceAvg", (value) => {
					$("#productpriceavg").text(value);
				});
				connection.on("ReceiveProductNameByPriceMax", (value) => {
					$("#productnamebypricemax").text(value);
				});
				connection.on("ReceiveProductNameByPriceMin", (value) => {
					$("#productnamebypricemin").text(value);
				});
				connection.on("ReceiveTotalOrderCount", (value) => {
					$("#totalordercount").text(value);
				});
				connection.on("ReceiveActiveOrderCount", (value) => {
					$("#activeordercount").text(value);
				});
				connection.on("ReceiveLastOrderPrice", (value) => {
					$("#lastorderprice").text(value);
				});
				connection.on("ReceiveTotalMoneyCaseAmount", (value) => {
					$("#totalmoneycaseamount").text(value);
				});
				connection.on("ReceiveCountDailyEarnings", (value) => {
					$("#countdailyearnings").text(value);
				});
				connection.on("ReceiveMenuTableCount", (value) => {
					$("#menutablecount").text(value);
				});
			});
		</script>
		<h4 class="page-title text-center">Anlık İstatistik Sayfası</h4>
		<h4>Kazançlar</h4>
		<div class="row">
			<div class="col-md-3">
				<div class="card card-stats bg-dark text-white">
					<div class="card-body">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-bar-chart"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category text-white">Ortalama Ürün Fiyatı</p>
									<h4 class="card-title text-white" id="productpriceavg"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- Ortalama Ürün Fiyatı -->
			<div class="col-md-3">
				<div class="card card-stats bg-dark text-white">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<h2>💵</h2>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category text-white">Son Sipariş Tutarı</p>
									<h4 class="card-title text-white" id="lastorderprice"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- Son Sipariş Tutarı -->
			<div class="col-md-3">
				<div class="card card-stats card-success">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<h2>🚀</h2>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Günün Kazancı</p>
									<h4 class="card-title" id="countdailyearnings"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- Günün Kazancı -->
			<div class="col-md-3">
				<div class="card card-stats bg-dark text-white">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<h2>💰</h2>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category  text-white">Kasada Bulunan Tutar</p>
									<h4 class="card-title text-white" id="totalmoneycaseamount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- Kasada Bulunan Tutar -->

		</div>
		<h4>Kategori Verileri</h4>
		<div class="row">
			<div class="col-md-3">
				<div class="card card-stats bg-dark text-white">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<h2>🍔</h2>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category  text-white">Hamburger Kategorisi</p>
									<h4 class="card-title   text-white" id="productcountbyhamburger"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- Hamburger Kategori Sayısı -->
			<div class="col-md-3">
				<div class="card card-stats bg-dark text-white">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<h2>🥤</h2>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category text-white">İçecek Kategorisi</p>
									<h4 class="card-title text-white" id="productcountbydrink"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- İçecek Kategori Sayısı -->
			<div class="col-md-3">
				<div class="card card-stats bg-dark text-white">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<h2>📋</h2>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category  text-white">Kategori Sayısı</p>
									<h4 class="card-title  text-white" id="categorycount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- Kategori Sayısı -->
			<div class="col-md-3">
				<div class="card card-stats card-success">
					<div class="card-body">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i>✔</i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category text-white">Aktif Kategori</p>
									<h4 class="card-title text-white" id="activecategorycount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- Aktif Kategori Sayısı -->

		</div>
		<h4>Ürün Verileri</h4>
		<div class="row">
			<div class="col-md-3">
				<div class="card card-stats bg-dark text-white">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<h2>⭐</h2>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category text-white">En Yüksek Fiyatlı Ürün</p>
									<h4 class="card-title text-white" id="productnamebypricemax"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- En Yüksek Fiyatlı Ürün -->
			<div class="col-md-3">
				<div class="card card-stats bg-dark text-white">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<h2>👍</h2>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category  text-white">En Düşük Fiyatlı Ürün</p>
									<h4 class="card-title text-white" id="productnamebypricemin"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- En Düşük Fiyatlı Ürün -->
			<div class="col-md-3">
				<div class="card card-stats bg-dark text-white">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<h2>🍽️</h2>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category  text-white">Ürün Sayısı</p>
									<h4 class="card-title  text-white" id="productcount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- Ürün Sayısı -->
		</div>
		<h4>Sipariş Verileri</h4>
		<div class="row">
			<div class="col-md-3">
				<div class="card card-stats bg-dark text-white">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<h2>🛎️</h2>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category  text-white">Toplam Sipariş Sayısı</p>
									<h4 class="card-title text-white" id="totalordercount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- Toplam Sipariş Sayısı -->
			<div class="col-md-3">
				<div class="card card-stats card-success">
					<div class="card-body">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i>✔</i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category text-white">Aktif Sipariş Sayısı</p>
									<h4 class="card-title text-white" id="activeordercount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- Aktif Sipariş Sayısı -->
			<div class="col-md-3">
				<div class="card card-stats bg-dark text-white">
					<div class="card-body">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<h2>⛩</h2>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category text-white">Masa Sayısı</p>
									<h4 class="card-title text-white" id="menutablecount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- Masa Sayısı -->
		</div>
   </div>
</div>

